
:root{
    --height-top-avatar: 60px;
    --height-top-notifications: 75px;
    --height-input-chat: 70px;
}

.bg-linear-grad{
    background: linear-gradient(
    to bottom,
    #00A884 15%,
    #DDDEDD 50px);
}

.bg-top{
    background-color: #f0f0f0;
}

.bg-notification{
    background-color: #8EDAFC;
}

.bg-chat-messages{
    background-image: url(../img/mine.jpg);
}

.height-top-avatar{
    height: var(--height-top-avatar);
}

.height-top-notifications{
    height: var(--height-top-notifications);
}

.height-chats{
    height: calc(100% - var(--height-top-notifications) - var(--height-top-avatar));
}

.height-main-chat{
    height: calc(100% - var(--height-top-avatar) - var(--height-input-chat));
}

.height-input-chat{
    height: var(--height-input-chat);
}

.width-30-important{
    width: 30% !important;
}