:root{
    --height-top-avatar: 70px;
    --height-top-notifications: 75px;
    --height-input-chat: 70px;
    --height-search-chat: 50px;
}

.bg-linear-grad{
    background: linear-gradient(
    to bottom,
    #00A884 15%,
    #DDDEDD 50px);
}

.bg-top{
    background-color: #f0f0f0;
}

.bg-notification{
    background-color: #8EDAFC;
}

.bg-chat-messages{
    background-image: url(../img/mine.jpg);
}

.height-search-chat{
    height: var(--height-search-chat);
}

.height-top-avatar{
    height: var(--height-top-avatar);
}

.height-top-notifications{
    height: var(--height-top-notifications);
}

.height-chats{
    height: calc(100% - var(--height-top-notifications) - var(--height-top-avatar) - var(--height-search-chat));
}

.height-main-chat{
    height: calc(100% - var(--height-top-avatar) - var(--height-input-chat));
}

.height-input-chat{
    height: var(--height-input-chat);
}

.width-30-important{
    width: 30% !important;
}

.style-card-chat{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    border-bottom: 1px solid #d3d3d3;
}

.active-chat{
    background-color: rgb(228, 228, 228);
}

.received{
    border-radius: 10px;
    align-self: flex-start;
    background-color: #FFFFFF;
}

.sent{
    border-radius: 10px;
    align-self: flex-end;
    background-color: #D9FCD2;
}
